/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */
body {
  margin: 0;
  height: 100vh;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Inter" !important;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px transparent inset !important;
  -webkit-text-fill-color: #333 !important;
  background-color: transparent !important;
  transition: background-color 5000s ease-in-out 0s !important;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none!important;
  margin: 0!important;
}
.otp-input {
  height: 35px!important;
  width: 32px!important;
  background: white !important;
  border-radius: 6px!important;
  border: 1px solid #969696!important;
}
.otp-input:disabled {
  border: 1px solid #969696!important;
  background: rgb(150 150 150 / 10%)!important;
  outline: none !important;
}  
.otp-input:focus {
  border: 1px solid #969696!important;
  background: white !important;
  outline: none !important;
}  
/* 
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
.scrollBluePrimarythin::-webkit-scrollbar {
  width: 5px;  height: 5px;
  border: 2px solid #f0f4f8 ;

  background-color: #f0f4f8;
}

.scrollBluePrimarythin::-webkit-scrollbar-thumb {
  background-color: rgb(183 177 177);
  background-clip: padding-box;
  border-radius: 15px;
  height: 1px;
}
.scrollBluePrimarythin::-webkit-scrollbar-thumb:hover {
  background: rgb(183 177 177);
}
.preview-container {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.preview-container iframe,
.preview-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
